.box {
    min-height: 300px;
    background-color: red;
    border: 5px solid#000;
    width: calc(50% - 42px);
    padding: 20px;
    margin: 20px;

}
.box:first-child{
    margin-bottom: 30px;
}
.child-box{
    width: 100px;
    height: 100px;
    background-color: blue;
}