
.listColumn{
    display: flex;
  align-items: end;


}
.main{
    padding: 5%;
}
.subSection p{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 500px) {
    .row {
        flex-direction: column;
        text-align: center;
    }
    .listColumn{
        align-items: stretch;
    }
    .nav-links{
        flex-direction: column;
        text-align: center;
    }
    .link{
        background-color: lightgray;
    }
    .skipColumn{
        background-color: lightblue;
        padding: 6px;
        margin-top: 10px;
    }
    .bottomText{
        margin-top: 20px;
    }
}

.link {
    color: blue;
    text-decoration: underline;
    padding: 10px;

}

@media screen and (min-width: 1000px) {
    .skipColumn{
        display: none;

    }

}
