@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    --clr-dark: #07043b;
    --clr-primary: #575988;
    --clr-secondary: #2f65f8;
    --border-radius: 3.13px;
}
body {
    font-family: "Raleway", sans-serif;
    color: var(--clr-dark);
    font-size: 25px;
    line-height: 24px;
}
h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.container.hero {
    min-height: 500px;

}
.column.hero-text{
   flex:0 0 55%;
}
button {
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--clr-secondary);
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 30px;
}
input::placeholder {
    color: #c2c2c2;
}
input {
    width: 100%;
    min-height: 46px;
    border: 1px solid #07043b;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    border-radius: var(--border-radius);
    padding-left: 21px;
}
p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 141.176% */
    letter-spacing: 0.531px;
}
.row {
    max-width: 1280px;
}
a {
    color: inherit;
    text-decoration: unset;
    transition: all ease 0.3s;
}
nav a:hover {
    color: var(--clr-primary);
}
button.single-submit {
    flex: 0 0 200px;
}

